In [56]:
import pandas as pd
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import boxscoretraditionalv2
import time

In [38]:
nba_teams = teams.get_teams()
nba_teams = pd.DataFrame(nba_teams)
print(nba_teams.head())

  abbreviation         city             full_name          id   nickname  \
0          ATL      Atlanta         Atlanta Hawks  1610612737      Hawks
1          BOS       Boston        Boston Celtics  1610612738    Celtics
2          CLE    Cleveland   Cleveland Cavaliers  1610612739  Cavaliers
3          NOP  New Orleans  New Orleans Pelicans  1610612740   Pelicans
4          CHI      Chicago         Chicago Bulls  1610612741      Bulls

           state  year_founded
0        Atlanta          1949
1  Massachusetts          1946
2           Ohio          1970
3      Louisiana          2002
4       Illinois          1966

In [45]:
games_by_team = pd.DataFrame(columns= ['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'])
i = 0
for id in nba_teams["id"]:
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id)
    games = gamefinder.get_data_frames()[0]
    games_by_team = games_by_team.append(games)
    time.sleep(5)
    i += 1
    print(i)

1

2

3

4

5

6

7

8

9

10

11

12

13

14

15

16

17

18

19

20

21

22

23

24

25

26

27

28

29

30

In [46]:
games_by_team.shape

(90987, 28)

In [48]:
games_by_team.to_csv("~/PycharmProjects/Data-Management-and-Database-Design/Assignment_2/nba_data/rawData/games_by_teams.csv", index=False)

In [57]:
test = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id = "0021800865")

In [59]:
player_stats = test.get_data_frames()[0]

      GAME_ID     TEAM_ID TEAM_NAME TEAM_ABBREVIATION TEAM_CITY     MIN  FGM  \
0  0021800865  1610612752    Knicks               NYK  New York  240:00   38
1  0021800865  1610612737     Hawks               ATL   Atlanta  240:00   33

   FGA  FG_PCT  FG3M     ...      OREB  DREB  REB  AST  STL  BLK  TO  PF  PTS  \
0   84   0.452    12     ...        11    41   52   21    9    9  14  22  106
1   91   0.363    10     ...        10    31   41   19    8    4  12  24   91

   PLUS_MINUS
0        15.0
1       -15.0

[2 rows x 25 columns]